<div class="class">
   <h2>Animais:</h2>
   <ul>
      <li *ngFor="let animal of animals">
         <p>Nome: {{animal.name}} - Espécie: {{animal.type}}</p>
         <button (click)="showAge(animal)">Show age</button>
         <button (click)="removeAnimal(animal)">Excluir</button>
      </li>
   </ul>
   <h3>{{animalDetails}}</h3>
   <h2>Cars:</h2>
   <ul>
      <li *ngFor="let car of cars">
         <p>Nome: {{ car.name }}</p>
         <button (click)="showBrand(car)">Show Brand</button>
      </li>
   </ul>
   <h3>{{carDetails}}</h3>
</div>