<div class="class">
   <h2 class="title">Nome: {{ name }}</h2>
   <p>Idade: {{ age }}</p>
   <p>Profissão: {{ job }}</p>
   <p>Hobbies: {{ hobbies[2] }}</p>
   <ul>
      <li>Carro
         <ul>
            <li>
               {{ car.name }}
            </li>
            <li>
               {{ car.brand }}
            </li>
            <li>
               {{ car.year }}
            </li>
         </ul>
      </li>
      <li>
         <a href="#">Veja mais sobre o carro!</a>
      </li>
   </ul>
</div>

<div class="rev">
   <ul>
      <li *ngFor="let game of games">
         <h2 class="title">Jogo: {{ game.name }}</h2>
         <p>Ano de lançamento: {{ game.release }}</p>
         <p>Desenvolvedora: {{ game.developer }}</p>
         <p>Faturamento: {{ game.money | currency:'BR':'R$ ' }}</p>
         <button (click)="edit()">Edit Game</button>
         <div *ngIf="showEdit">
            <input type="text" [(ngModel)]="game.name">
            <button (click)="edit()">Cancelar</button>
         </div>
      </li>
   </ul>
</div>